.contactForm {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contactForm h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    }

.inputField{
    width: 70%;
    margin: 10px;
    padding: 5px;
    box-sizing: border-box;
    background: #5e5a5a;
    outline: none;
    border: none;
    border-radius: 5px;
    border-bottom: 2px solid #554e4e;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    transition: all 0.3s ease;

}

.inputField:focus{
    border-bottom: 2px solid #ff0000;
}

.textArea{
    width: 100%;
    margin: 10px;
    padding: 5px;
    box-sizing: border-box;
    background: #5e5a5a;
    outline: none;
    border: none;
    border-radius: 5px;
    border-bottom: 2px solid #554e4e;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    transition: all 0.3s ease;
}

.textArea:focus{
    border-bottom: 2px solid #ff0000;
}

